.obsidian-vault/.obsidian/workspace.json
.obsidian-vault/.obsidian/workspace-mobile.json
node_modules
.next
out
dist
build
coverage

.env
.env*.local
!.env.example

pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
