.obsidian-vault/.obsidian/workspace.json
.obsidian-vault/.obsidian/workspace-mobile.json
.vercel/
node_modules
.next
*.tsbuildinfo
out
dist
build
coverage

.env
.env*.local
!.env.example
.env.financial-e2e

pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db

.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
